.parent-container {
  display: flex;
  align-items: center;
  height: 100vh; /* for example */
}

.container-fluid {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .form-control {
    width: 800px; /* Adjust the width as needed */
  }
}
