#cont1
{
  background: whitesmoke;


}
#cont2
{
  background: whitesmoke;

}
ul {
  list-style: none; /* Remove default bullet points */
}
li {
  background-image: url('https://rukminim2.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90');
  background-repeat: no-repeat;
  background-position: left center; /* Adjust position as needed */
  background-size: 20px; /* Set the size of the background image */
  padding-left: 30px; /* Set padding to accommodate the smaller image */
  margin-bottom: 5px; /* Add some space between list items */
}
